/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --main-font-weight: 400;
  --card-title-font-weight: 700;
  --main-color: #000;
  --bg-color: #fff;
  --color: #fff;
  --max-width-content: 696px;
  --title-fs: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-fs: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}
